<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="NumericTextBox" version="1.0.2" targetFramework="net472" />
  <package id="PersianDate" version="3.5.5" targetFramework="net461" />
  <package id="SQLite.CodeFirst" version="1.5.2.28" targetFramework="net461" />
  <package id="SQLite.CodeFirst.Migrations" version="1.0.4" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net451" requireReinstallation="true" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net461" />
</packages>