<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=13.0.19.222, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="Plum.Model" version="1.0.0.0" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
    <appData path="" />
  </Telerik.Reporting>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLite.CodeFirst" publicKeyToken="eb96ba0a78d831a7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.28" newVersion="1.5.2.28" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>